@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Play:wght@400;700&display=swap');

:root {
  --font-play: "Play", sans-serif;
  ;
  --font-silkscreen: "Silkscreen", sans-serif;
}

.app {
  max-width: 500px;
  margin: 0 auto;
  padding: 3rem 1rem;
  font-family: var(--font-play);

}

.app h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

form input,
form button {
  padding: 0.8rem;
  border-radius: 0.7rem;
  font-size: 1rem;
  border: 1px solid #eee;
}

form button {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: 0.1s linear;

}

form button:hover {
  transform: scale(1.02);
  background: linear-gradient(135deg, #667eead4, #764ba2d4);

}

.title {
  font-family: var(--font-silkscreen);
}