.user-card{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.25rem;
    background-color: #fff;
    border-radius: 0.8rem;
    margin: 1.25rem 0;
}



.user-card-avatar{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.user-card-info{
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: lighter;
}

.user-card-info p{
    margin: .5rem 0;
    font-style: italic;
}

.user-card-info p span{
    font-weight: bold;
    font-style: normal;
}
