.user-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.25rem;
    background-color: #fff;
    border-radius: 0.8rem;
    margin: 1.25rem 0;
}

.user-card-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.user-card-info {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: lighter;
}

.user-card-info p {
    margin: .5rem 0;
    font-style: italic;
}

.user-card-info p span {
    font-weight: bold;
    font-style: normal;
}

.eraseBtn button {
    background: linear-gradient(135deg, #667eea, #764ba2);
    border-radius: .2rem;
    text-align: center;
    color: #fff;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 3rem;
    font-size: 1rem;
    font-weight: bold;
    padding: .4rem;
    cursor: pointer;
    transition: .1s linear;
}

.eraseBtn button:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #667eead4, #764ba2d4);

}