@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Metal+Mania&family=Sedgwick+Ave+Display&family=Underdog&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-box {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 30px;
  place-items: center;

}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-bottom: .5px solid #b2b2b2;
  box-shadow: -1px 7px 43px -12px rgba(0, 0, 0, 0.75);
  margin-bottom: 40px;

  h1 {
    cursor: default;
  }

  nav>ul {
    display: flex;
    gap: 20px;

    list-style: none;

    li {
      list-style: none;

      a {
        color: #000;
        text-decoration: none;
      }
    }

    li:hover {
      transform: scale(1.1);
      color: #000000e7;
      font-weight: bolder;
    }
  }
}

.card {
  background-color: #ebebeb54;
  border: 1px solid #3b3b3b;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.253);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    border: .5px solid #808080;
    margin-bottom: 10px;
    cursor: pointer;
  }

  h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  h2:hover {
    text-decoration: underline;
    font-size: 26px;
    color: #00000091;
  }

  p {
    text-align: left;
    letter-spacing: .5px;
    font-size: 14px;
    width: 90%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    cursor: pointer;
    transition: all .2s linear;
  }

  p:hover {
    background-color: #cccccc;
    font-size: 13px;
    text-decoration: line-through;
    text-transform: uppercase;
    font-style: italic;
    width: 98%;
    border: .5px solid #808080;
    padding: 8px;
    border-radius: 8px;
  }

  & :hover {
    z-index: 100;
    transform: scale(1.1);
    background-color: #f1f1f1;
  }
}


.student-box {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 20px;
  margin-bottom: 30px;
  place-items: center;

  .student {
    width: 250px;
    height: auto;
    margin: 10px;
    border: 1px solid #999999;
    padding: 1rem 2rem;
    border: 1px inset rgba(59, 59, 59, 0.55);
    border-radius: 8px;
    background-color: #eeeeee;
    box-shadow: 0px 0px 10px 3px rgba(59, 59, 59, 0.75) inset;

    p {
      margin: 20px 0;

      span {
        margin-right: 5px;
        font-weight: bolder;
      }
    }
  }

}


.title-h1 {
  margin: 1rem;
  text-transform: uppercase;
  font-family: "Underdog", system-ui;
  color: #d99a26;
  text-decoration: underline;
  font-size: 40px;
  cursor: default;
}

.list-box {
  width: 90%;
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  justify-content: space-around;
  gap: 20px;
  place-items: center;
  margin-top: 30px;

  .list-content {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px inset rgba(59, 59, 59, 0.55);
    border-radius: 8px;
    background-color: #eeeeee;
    box-shadow: 0px 0px 10px 3px rgba(59, 59, 59, 0.75) inset;

    h3 {
      margin-bottom: 1rem;
      font-family: "Audiowide", sans-serif;
    }

    ol {
      list-style: none;
      text-transform: capitalize;

      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: .6rem;
        padding: .6rem;
        cursor: pointer;
        transition: transform 0.3s ease;
        backface-visibility: hidden;
        will-change: transform;

        b {
          margin-left: 20px;
        }
      }

      li:hover {
        position: relative;
        color: #d99a26;
        border: 1px solid #d99a26;
        background-color: #fff;
        border-radius: 8px;
        transform: scale(1.25);
        z-index: 5;
        box-shadow: 0px 0px 10px 3px rgba(59, 59, 59, 0.55);

        b {
          text-decoration: underline;
        }
      }
    }
  }
}

footer {
  border-top: .5px solid #b2b2b2;
  box-shadow: 0px -7px 43px -12px rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 50px;
  background: linear-gradient(0deg, rgba(153, 153, 153, 1) 0%, rgba(242, 237, 237, 1) 44%, rgba(255, 255, 255, 1) 100%);
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  p {
    padding-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: default;
  }
}

@media (max-width: 870px) {
  .list-box {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}