@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    height: 100dvh;
}

.sidebar {
    width: 300px;
    background-color: #121212;
    padding: 10px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.nav-logo i {
    font-size: 24px;
}

.nav-library {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    .fa-book,
    p {
        color: #b7b3b6;
        font-size: 14px;
    }
}

.nav-playlist,
.nav-podcast {
    background-color: #242424;
    padding: 16px;
    border-radius: 8px;

    button {
        background-color: #fff;
        color: #000;
        border: none;
        padding: 6px 10px;
        margin-top: 16px;
        cursor: pointer;
        font-size: 12px;
        border-radius: 20px;
    }

    p {
        font-size: 12px;
    }
}

.nav-footer {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;




    a {
        color: #a7a7a7;
        text-decoration: none;
        font-size: 12px;
        margin-right: 12px;
        margin-bottom: 8px;
    }

}

.nav-lang-button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 20px;
}


main {
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;


    .search-bar {
        display: flex;
        align-items: center;
        background-color: #242424;
        padding: 8px 16px;
        border-radius: 20px;
        width: 300px;

        input {
            background-color: transparent;
            border: none;
            color: #fff;
            width: 100%;
            margin-left: 15px;
            outline: none;
        }
    }

    .content {
        margin-top: 40px;

        h2 {
            margin-bottom: 10px;
        }


        .artist-grid,
        .albums-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
            gap: 24px;
            margin-bottom: 40px;



            .album-card,
            .artist-card {
                background-color: #181818;
                padding: 16px;
                border-radius: 8px;
                text-align: center;
                cursor: pointer;
                transition: background-color 0.2s ease;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                img {
                    width: 100%;
                    border-radius: 50%;
                    margin-bottom: 16px;
                    max-height: 70%;
                }

                h3 {
                    font-size: 12px;
                }

                p {
                    font-size: 10px;
                    color: #b7b3b6;
                }

            }

            .album-card:hover,
            .artist-card:hover {
                background-color: #282828;
            }


        }
    }
}

.banner{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, #af2896, #509bf5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;

    h2{
        font-size: 14px;
    }

    p{
        font-size: 10px;
    }

    button{
        border-radius: 20px;
        color: #000;
        border: none;
        padding: 12px 20px;
        font-weight: 600;
        cursor: pointer;
    }
}